@font-face {
  font-family: "Minecraft";
  src: url("../assets/fonts/Minecraft.woff") format("woff");
}

body {
  --bg: white;
  --text: hsl(4deg 35% 43%);
}

body.dark {
  --bg: hsl(221deg 39% 11%);
  --text: hsl(0deg 20% 80%);
}

body:not(.dark) .icon-dark {
  display: none;
}

body.dark .icon-light {
  display: none;
}

body.dark :is(header, footer, footer a) {
  filter: invert(100%);
}

body {
  background-color: var(--bg);
  font-family: "Minecraft";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  place-items: center;
}

header {
  place-self: end;
}

main {
  display: grid;
  place-items: end;
  gap: 32px;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--text);
  transition: transform 0.2s ease-in-out;
}

a:focus,
a:hover {
  transform: scale(1.05);
}

section {
  font-size: 24px;
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
}

.holder {
  height: 60px;
}

.theme-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 36px;
  margin-right: 24px;
}

.love {
  cursor: pointer;
  transition: color 0.8s ease-in-out 0.2s;
}

.love:hover {
  color: rgb(239 68 68);
}

@media (max-width: 480px) {
  main {
    place-items: start;
  }

  main img {
    position: relative;
    left: -12px;
  }

  section {
    font-size: 20px;
    grid-auto-flow: row;
  }

  footer {
    font-size: 12px;
  }
}
