@font-face {
  font-family: "Minecraft";
  src: url("../assets/fonts/Minecraft.woff") format("woff");
}

body {
  background-color: var(--bg);
  display: grid;
  place-content: center;
  place-items: end;
  gap: 32px;
  height: 100vh;
  height: 100svh;
  font-family: "Minecraft";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--text);
  transition: transform 0.2s ease-in-out;
}

a:focus,
a:hover {
  transform: scale(1.05);
}

section {
  font-size: 24px;
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
}

:root {
  --bg: white;
  --text: hsl(4deg 35% 43%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(221deg 39% 11%);
    --text: hsl(0deg 20% 80%);
  }
}

@media (max-width: 480px) {
  body {
    place-items: start;
  }

  body img {
    position: relative;
    left: -12px;
  }

  section {
    font-size: 20px;
    grid-auto-flow: row;
  }
}
