<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup SEO -->
{% include head-custom-seo.html%}
<!-- Setup PaperCss -->
{% include head-custom-paper.html%}
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{{ '/favicon.ico' | relative_url }}"
/>

<!-- end custom head snippets -->
